server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/identity_service}
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:123456}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "eddj6k3R8Q/S3heg1QW2KOCFLf/zgypilLDdMKRy8Qkv7uEbtXsTSAWoCCScdTdI"
  valid-duration: 3600
  refreshable-duration: 360000

outbound:
  identity:
    client-id: "412407094388-12f41ujg08dapvaskt1n7ge9tk23grhd.apps.googleusercontent.com"
    client-secret:
    redirect-uri: "http://localhost:3000/authenticate"

