server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "eddj6k3R8Q/S3heg1QW2KOCFLf/zgypilLDdMKRy8Qkv7uEbtXsTSAWoCCScdTdI"
  valid-duration: 3600
  refreshable-duration: 360000

